.btn {
  color: inherit;
  padding: 0.5rem 1rem;

  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: inherit;

  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
}

.back {
  font-weight: 700;
  background: none;
  border: 1px solid currentColor;
}

.btnPosition {
  position: absolute;
  z-index: 1000;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--color-dark--1);
  bottom: 4rem;
  background-color: var(--color-brand--2);
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
